---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b1b1617651.js"></script>
    <title>{title}</title>
    <style is:global>
        :root {
            color-scheme: dark;
        }

        html {
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            font-size: 100%;
            color: #ebebeb;
            background-color: #101010;
            word-spacing: 0.16em;
        }

        a {
            color: #7381be;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        body {
            margin: 0;
            padding: 10px;
        }

        nav {
            position: fixed;
            display: flex;
            justify-content: right;
            top: 0;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            background-color: #101010;
            font-size: 1.2em;
            font-family: DM Mono, monospace, sans-serif;
            padding: 1em 2em;
            row-gap: 0.5em;
            justify-content: right;
            z-index: 1;
        }

        nav .content {
            display: flex;
            gap: 0.5em 1.5em;
        }

        label, #show {
            display: none;
        }

        @media (max-width: 800px) {
            label {
                display: block;
            }

            nav {
                flex-direction: column;
            }

            nav .content {
                flex-direction: column;
                overflow: hidden;
                max-height: 0;
                transition: 200ms;
            }

            nav #show:checked ~ .content {
                max-height: 200px;
            }
        }

        nav .content a > i {
            padding-left: 0.5em;
            font-size: 0.8em;
        }
    </style>
    <script defer>
        setTimeout(() => {
            let html = document.querySelector("html");
            if (html != null) {
                html.style.scrollBehavior = "smooth";
            }
        }, 50)
    </script>
</head>
<body>
    <nav>
        <input type="checkbox" id="show">
        <label for="show"><i class="fa-solid fa-bars"></i></label>
        <div class="content">
            <a href="/#">home</a>
            <a href="/#about">about</a>
            <a target="_blank" href="https://github.com/din0x">github<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
    </nav>
    <slot/>
</body>
</html>
